@charset "UTF-8";
/*fonts*/
/*colors*/
/*color mmenu*/
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese";
.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center bottom; }
@keyframes bounce {
  20%, 53%, 80%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }
.flash {
  animation-name: flash;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes flash {
  50%, from, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }
.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }
.headShake {
  animation-name: headShake;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }
@keyframes headShake {
  0% {
    transform: translateX(0); }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg); }
  18.5% {
    transform: translateX(5px) rotateY(7deg); }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg); }
  43.5% {
    transform: translateX(2px) rotateY(3deg); }
  50% {
    transform: translateX(0); } }
.swing {
  animation-name: swing;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: top center; }
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }
.tada {
  animation-name: tada;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }
.wobble {
  animation-name: wobble;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }
.jello {
  animation-name: jello;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center; }
@keyframes jello {
  11.1%, from, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.bounceIn {
  animation-name: bounceIn;
  animation-duration: 0.75s;
  animation-fill-mode: both; }
@keyframes bounceIn {
  20%, 40%, 60%, 80%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceInDown {
  60%, 75%, 90%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }
.bounceInLeft {
  animation-name: bounceInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceInLeft {
  60%, 75%, 90%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }
.bounceInRight {
  animation-name: bounceInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceInRight {
  60%, 75%, 90%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }
.bounceInUp {
  animation-name: bounceInUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceInUp {
  60%, 75%, 90%, from, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
.bounceOut {
  animation-name: bounceOut;
  animation-duration: 0.75s;
  animation-fill-mode: both; }
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOutDown {
  animation-name: bounceOutDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.bounceOutLeft {
  animation-name: bounceOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.bounceOutRight {
  animation-name: bounceOutRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.bounceOutUp {
  animation-name: bounceOutUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInDownBig {
  animation-name: fadeInDownBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInRightBig {
  animation-name: fadeInRightBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInUpBig {
  animation-name: fadeInUpBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.fadeOutDownBig {
  animation-name: fadeOutDownBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fadeOutUpBig {
  animation-name: fadeOutUpBig;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.flipInX {
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
  backface-visibility: visible !important; }
@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipInY {
  animation-name: flipInY;
  animation-duration: 1s;
  animation-fill-mode: both;
  backface-visibility: visible !important; }
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flipOutX {
  animation-name: flipOutX;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  backface-visibility: visible !important; }
@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
.flipOutY {
  animation-name: flipOutY;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  backface-visibility: visible !important; }
@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out; }
@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in; }
@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
.rotateIn {
  animation-name: rotateIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
.rotateInDownLeft {
  animation-name: rotateInDownLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInDownRight {
  animation-name: rotateInDownRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpLeft {
  animation-name: rotateInUpLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
.rotateInUpRight {
  animation-name: rotateInUpRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
.rotateOut {
  animation-name: rotateOut;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
.rotateOutDownRight {
  animation-name: rotateOutDownRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
.rotateOutUpRight {
  animation-name: rotateOutUpRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
.hinge {
  animation-name: hinge;
  animation-duration: 2s;
  animation-fill-mode: both; }
@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }
.rollIn {
  animation-name: rollIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }
.rollOut {
  animation-name: rollOut;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }
.zoomIn {
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomInDown {
  animation-name: zoomInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInLeft {
  animation-name: zoomInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInRight {
  animation-name: zoomInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomInUp {
  animation-name: zoomInUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOut {
  animation-name: zoomOut;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoomOutDown {
  animation-name: zoomOutDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoomOutLeft {
  animation-name: zoomOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }
.zoomOutRight {
  animation-name: zoomOutRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }
.zoomOutUp {
  animation-name: zoomOutUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.slideInDown {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }
.slideOutDown {
  animation-name: slideOutDown;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }
.slideOutLeft {
  animation-name: slideOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }
.slideOutRight {
  animation-name: slideOutRight;
  animation-duration: 1s;
  animation-fill-mode: both; }
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(1800%, 0, 0); } }
.slideOutUp {
  animation-name: slideOutRight;
  animation-duration: 1s;
  animation-fill-mode: both; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5); } }
@-moz-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5); } }
@-ms-keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5); } }
@keyframes pulsate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5); } }
@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-ms-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*Font Roboto + Playfair Display*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  color: #4d4d4d; }

img {
  max-width: 100%; }

a {
  color: inherit;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

button:focus, input:focus, select:focus {
  outline: none; }

input,
select {
  border-color: #eaeaea; }
  input:hover, input:focus,
  select:hover,
  select:focus {
    outline-color: #67a933; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

/* scroolbar */
::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #bbb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #67a933; }

:root {
  --mm-color-background: rgba(78, 161, 74, 0.05); }

.main {
  padding-top: 91px; }
  @media (max-width: 991px) {
    .main {
      padding-top: 69px; } }

.section-title_sub {
  color: #bc002d;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px; }
  .section-title_sub:before {
    content: '';
    background: #bc002d;
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 1px; }
.section-title_title {
  font-family: "Playfair Display", serif;
  color: #2d2d2d;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 40px; }
@media (max-width: 767px) {
  .section-title_sub {
    font-size: 12px; }
  .section-title_title {
    font-size: 24px;
    margin-bottom: 30px; } }

.text-format {
  line-height: 1.5; }
  .text-format h1, .text-format h2, .text-format h3, .text-format h4, .text-format h5, .text-format h6 {
    color: #2d2d2d;
    font-weight: bold;
    margin-bottom: 10px; }
    .text-format h1:not(:first-child), .text-format h2:not(:first-child), .text-format h3:not(:first-child), .text-format h4:not(:first-child), .text-format h5:not(:first-child), .text-format h6:not(:first-child) {
      padding-top: 10px; }
  .text-format blockquote {
    color: #868686;
    font-style: italic;
    padding-left: 15px;
    margin-left: 40px;
    border-left: 2px solid #eaeaea; }
  .text-format ul, .text-format ol {
    padding-left: 20px;
    text-align: left; }
    .text-format ul li, .text-format ol li {
      margin-bottom: 5px; }
      .text-format ul li:last-child, .text-format ol li:last-child {
        margin-bottom: 0; }
  .text-format table {
    width: 100%;
    margin-bottom: 10px; }
    .text-format table td {
      padding: 5px 0;
      vertical-align: top; }
  .text-format p:last-child, .text-format ul:last-child, .text-format ol:last-child, .text-format table:last-child {
    margin-bottom: 0; }

.alert-error {
  color: #bc002d;
  font-size: 13px;
  display: none;
  margin-top: 5px;
  text-align: right;
  font-style: italic; }

.form-control {
  height: 40px;
  background: #fbfbfb;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .form-control:focus {
    border-color: #67a933;
    background: #fff;
    -moz-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    -o-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2); }
  .form-control.error {
    border-color: #bc002d; }
    .form-control.error:focus {
      border-color: #bc002d;
      -moz-box-shadow: 0px 2px 8px 1px rgba(188, 0, 45, 0.2);
      -o-box-shadow: 0px 2px 8px 1px rgba(188, 0, 45, 0.2);
      -webkit-box-shadow: 0px 2px 8px 1px rgba(188, 0, 45, 0.2);
      box-shadow: 0px 2px 8px 1px rgba(188, 0, 45, 0.2); }

.form-group {
  margin-bottom: 20px; }
  .form-group:last-child {
    margin-bottom: 0; }
  .form-group label {
    font-weight: 500;
    color: #2d2d2d; }
    .form-group label.obligate:after {
      content: '*';
      color: #bc002d;
      display: inline-block;
      margin-left: 5px; }

.select2-container--default {
  width: 100% !important; }
  .select2-container--default .select2-selection--single {
    height: 40px; }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 40px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 7px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #67a933; }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #eaeaea;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .select2-container--default .select2-search--dropdown .select2-search__field:focus {
      outline-color: #67a933; }
  .select2-container--default.select2-container--focus .select2-selection--single {
    outline-color: #67a933;
    -moz-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    -o-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2);
    box-shadow: 0px 2px 8px 1px rgba(103, 169, 51, 0.2); }
  .select2-container--default .select2-dropdown {
    border-color: #eaeaea; }

.btn-custom {
  background: #bc002d;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 13px 20px;
  text-align: center;
  border: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .btn-custom:after {
    content: '';
    background: #4ea14a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s; }
  .btn-custom:hover {
    color: #fff; }
    .btn-custom:hover:after {
      height: 100%; }
  .btn-custom-light {
    background: #fff;
    border: 2px solid #bc002d;
    color: #bc002d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 11px 20px;
    text-align: center;
    overflow: hidden;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }
    .btn-custom-light:hover {
      border-color: #67a933;
      color: #67a933; }

.header {
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1000; }
  .header.header-down {
    transform: translateY(-100%);
    visibility: hidden; }
  .header .header-nav-desktop ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 15px; }
    .header .header-nav-desktop ul li {
      padding: 15px;
      position: relative; }
      .header .header-nav-desktop ul li a {
        display: block;
        position: relative; }
        .header .header-nav-desktop ul li a:before, .header .header-nav-desktop ul li a:after {
          content: '';
          position: absolute;
          width: 0;
          height: 1px;
          background: #bc002d;
          -moz-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s; }
        .header .header-nav-desktop ul li a:before {
          left: 0;
          bottom: -12px; }
        .header .header-nav-desktop ul li a:after {
          right: 0;
          bottom: -13px; }
        .header .header-nav-desktop ul li a:hover, .header .header-nav-desktop ul li a:focus, .header .header-nav-desktop ul li a.active {
          color: #bc002d; }
          .header .header-nav-desktop ul li a:hover:before, .header .header-nav-desktop ul li a:hover:after, .header .header-nav-desktop ul li a:focus:before, .header .header-nav-desktop ul li a:focus:after, .header .header-nav-desktop ul li a.active:before, .header .header-nav-desktop ul li a.active:after {
            width: 100%; }
      .header .header-nav-desktop ul li:first-child {
        padding-left: 0; }
      .header .header-nav-desktop ul li:last-child {
        padding-right: 0; }
  .header-nav-mobile_btn {
    display: none; }
    .header-nav-mobile_btn:before {
      content: '\f0c9';
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      font-weight: 100;
      font-size: 25px;
      color: #67a933; }
  .header-nav-mobile .header-info {
    padding: 15px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header-nav-mobile .header-info_email, .header-nav-mobile .header-info_phone {
      display: inline-block;
      padding: 0 0 0 20px;
      position: relative; }
      .header-nav-mobile .header-info_email:before, .header-nav-mobile .header-info_phone:before {
        content: '\f0e0';
        font-family: "Font Awesome 5 Pro";
        font-weight: 100;
        position: absolute;
        left: 0;
        color: #dad7d7;
        top: 0px; }
    .header-nav-mobile .header-info_phone:before {
      content: '\f879'; }
    @media (max-width: 450px) {
      .header-nav-mobile .header-info {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .header .header-middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .header-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header .header-logo {
    max-width: 137px; }
  .header .header-info {
    padding: 15px 0 8px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .header .header-info_email, .header .header-info_phone, .header .header-info_language {
      display: inline-block;
      padding: 0 14px 0 30px;
      position: relative;
      margin-right: 14px;
      border-right: 1px solid #dbdbdb; }
      .header .header-info_email:hover, .header .header-info_phone:hover, .header .header-info_language:hover {
        color: #bc002d; }
        .header .header-info_email:hover:before, .header .header-info_phone:hover:before, .header .header-info_language:hover:before {
          animation: tada linear 1s infinite; }
      .header .header-info_email:before, .header .header-info_phone:before, .header .header-info_language:before {
        content: '\f0e0';
        font-family: "Font Awesome 5 Pro";
        font-weight: 100;
        position: absolute;
        left: 0;
        font-size: 20px;
        color: #dad7d7;
        top: -4px;
        display: inline-block; }
    .header .header-info_phone:before {
      content: '\f879'; }
    .header .header-info_language {
      margin-right: 0;
      padding-right: 0;
      border-right: 0; }
      .header .header-info_language:before {
        content: '\f0ac'; }
      .header .header-info_language:after {
        content: '\f107';
        font-family: "Font Awesome 5 Pro";
        display: inline-block;
        margin-left: 5px; }
      .header .header-info_language.open:after {
        content: '\f106'; }
      .header .header-info_language__box {
        cursor: pointer;
        position: relative; }
        .header .header-info_language__box ul {
          position: absolute;
          padding: 0;
          margin: 0;
          list-style: none;
          top: 100%;
          right: 0;
          padding-top: 15px;
          display: none;
          z-index: 10; }
          .header .header-info_language__box ul li a {
            background: #f7f7f7;
            padding: 5px 15px;
            display: block;
            white-space: nowrap; }
            .header .header-info_language__box ul li a:hover {
              background: #67a933;
              color: #fff; }
          .header .header-info_language__box ul li:first-child {
            position: relative; }
            .header .header-info_language__box ul li:first-child a {
              padding-top: 10px; }
            .header .header-info_language__box ul li:first-child:before {
              content: '';
              position: absolute;
              bottom: 100%;
              left: 40px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 10px 10px 10px;
              border-color: transparent transparent #f7f7f7 transparent; }
          .header .header-info_language__box ul li:last-child a {
            padding-bottom: 10px; }
  @media (max-width: 991px) {
    .header .header-nav-desktop {
      display: none; }
    .header .header-logo {
      max-width: 122px; }
    .header .header-info {
      padding: 25px 0; }
    .header .header-right {
      -webkit-flex-direction: unset;
      -moz-flex-direction: unset;
      -ms-flex-direction: unset;
      flex-direction: unset;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .header .header-nav-mobile_btn {
      display: block;
      margin-left: 15px; } }
  @media (max-width: 767px) {
    .header .header-info_email, .header .header-info_phone {
      display: none; } }

.header-nav-mobile {
  display: none !important; }
  .header-nav-mobile.mm-menu_opened {
    display: block !important; }

.footer .footer-top {
  background: #dfdfdf;
  padding: 40px 0;
  position: relative; }
  .footer .footer-top_col {
    text-align: center;
    padding: 20px 0;
    max-width: 270px;
    margin: 0 auto; }
    .footer .footer-top_col i {
      color: #bc002d;
      background: #fff;
      display: inline-block;
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 30px;
      position: relative;
      z-index: 1;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
      -moz-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      -webkit-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      .footer .footer-top_col i:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-box-shadow: 0px 1px 15px 1px white;
        -o-box-shadow: 0px 1px 15px 1px white;
        -webkit-box-shadow: 0px 1px 15px 1px white;
        box-shadow: 0px 1px 15px 1px white;
        -o-animation: pulsate 2s infinite;
        -moz-animation: pulsate 2s infinite;
        -webkit-animation: pulsate 2s infinite;
        animation: pulsate 2s infinite;
        z-index: 0; }
      .footer .footer-top_col i:hover {
        color: #fff;
        background: #bc002d;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
        .footer .footer-top_col i:hover:after {
          -moz-box-shadow: 0px 1px 15px 1px rgba(188, 0, 45, 0.6);
          -o-box-shadow: 0px 1px 15px 1px rgba(188, 0, 45, 0.6);
          -webkit-box-shadow: 0px 1px 15px 1px rgba(188, 0, 45, 0.6);
          box-shadow: 0px 1px 15px 1px rgba(188, 0, 45, 0.6); }
    .footer .footer-top_col p {
      margin: 20px 0 15px;
      line-height: 1.7; }
    .footer .footer-top_col h3 {
      font-weight: bold;
      color: #bc002d;
      font-weight: bold;
      font-size: 16px; }
      .footer .footer-top_col h3 a {
        display: inline-block; }
        .footer .footer-top_col h3 a:before {
          content: '\f105';
          font-family: "Font Awesome 5 Pro";
          display: inline-block;
          margin-right: 5px; }
        .footer .footer-top_col h3 a:hover {
          -o-animation: pulse 0.5s linear;
          -moz-animation: pulse 0.5s linear;
          -webkit-animation: pulse 0.5s linear;
          animation: pulse 0.5s linear; }
.footer .footer-middle {
  background: url("../images/bg-footer.jpg") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 40px 0; }
  .footer .footer-middle_col {
    padding: 20px 0; }
  .footer .footer-middle__title {
    font-size: 18px;
    color: #868686;
    font-weight: bold;
    margin-bottom: 35px; }
  .footer .footer-middle_address address {
    margin-bottom: 30px; }
    .footer .footer-middle_address address h4 {
      color: #bc002d;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase; }
    .footer .footer-middle_address address p {
      margin-bottom: 0;
      line-height: 1.7; }
    .footer .footer-middle_address address:last-child {
      margin-bottom: 0; }
  .footer .footer-middle_links {
    line-height: 1.7;
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer .footer-middle_links li {
      margin-bottom: 12px;
      padding-left: 15px;
      position: relative; }
      .footer .footer-middle_links li:last-child {
        margin-bottom: 0; }
      .footer .footer-middle_links li a:before {
        content: '\f111';
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        left: 0;
        color: #bc002d;
        top: 8px;
        font-weight: bold;
        font-size: 5px; }
      .footer .footer-middle_links li a:hover {
        color: #bc002d; }
        .footer .footer-middle_links li a:hover:before {
          content: '\f04b';
          font-size: 10px;
          top: 3px; }
.footer .footer-bottom {
  padding: 16px 0;
  background: #fafafa; }
  .footer .footer-bottom_copyright {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer .footer-bottom_copyright img {
      width: 122px;
      margin-right: 45px; }
    .footer .footer-bottom_copyright span {
      width: calc(100% - 167px); }
  .footer .footer-bottom_social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer .footer-bottom_social a {
      margin-right: 10px;
      position: relative;
      display: block; }
      .footer .footer-bottom_social a:last-child {
        margin-right: 0; }
      .footer .footer-bottom_social a i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #eaeaea;
        text-align: center;
        font-size: 16px;
        -moz-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        .footer .footer-bottom_social a i.fa-facebook-f {
          color: #4267b2; }
        .footer .footer-bottom_social a i.fa-twitter {
          color: #1da1f2; }
        .footer .footer-bottom_social a i.fa-linkedin-in {
          color: #004b7c; }
        .footer .footer-bottom_social a i.fa-youtube {
          color: #bc002d; }
      .footer .footer-bottom_social a:hover:after {
        background: #444;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        content: attr(aria-label);
        font-size: 13px;
        padding: 3px 10px;
        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .footer .footer-bottom_social a:hover:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #444 transparent transparent transparent;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        bottom: calc(100% + 2px); }
      .footer .footer-bottom_social a:hover i {
        color: #fff;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
        .footer .footer-bottom_social a:hover i.fa-facebook-f {
          background: #4267b2; }
        .footer .footer-bottom_social a:hover i.fa-twitter {
          background: #1da1f2; }
        .footer .footer-bottom_social a:hover i.fa-linkedin-in {
          background: #004b7c; }
        .footer .footer-bottom_social a:hover i.fa-youtube {
          background: #bc002d; }
  @media (max-width: 767px) {
    .footer .footer-bottom_copyright img {
      margin-right: 20px;
      width: 100px; }
    .footer .footer-bottom_copyright span {
      width: calc(100% - 120px); }
    .footer .footer-bottom_social {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin-top: 20px; } }

.brand-search-jobs {
  padding: 90px 0 60px;
  position: relative; }
  .brand-search-jobs .brand-title {
    color: #fff;
    font-family: "Playfair Display", serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2; }
  .brand-search-jobs .brand-desc {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px; }
    .brand-search-jobs .brand-desc:before {
      content: '___';
      display: inline-block;
      margin-right: 15px; }
  .brand-search-jobs_form {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 30px 0; }
    .brand-search-jobs_form .form-search-jobs_input .form-control {
      border-color: #fff;
      padding-left: 45px; }
      .brand-search-jobs_form .form-search-jobs_input .form-control:focus {
        border-color: #67a933; }
    .brand-search-jobs_form .form-search-jobs_input .form-group {
      position: relative; }
      .brand-search-jobs_form .form-search-jobs_input .form-group label {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 5;
        font-size: 20px;
        color: #a1a1a1;
        left: 15px; }
    .brand-search-jobs_form .form-search-jobs_input .select2-container--default .select2-selection--single {
      border-color: #fff; }
      .brand-search-jobs_form .form-search-jobs_input .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 45px; }
    .brand-search-jobs_form .form-search-jobs_input .select2-container--default.select2-container--focus .select2-selection--single {
      outline: none;
      border-color: #67a933; }
    .brand-search-jobs_form .form-search-jobs_btn .btn-search {
      background: #bc002d;
      color: #fff;
      font-weight: bold;
      width: 100%;
      height: 40px;
      position: relative;
      border: none;
      z-index: 1; }
      .brand-search-jobs_form .form-search-jobs_btn .btn-search:after {
        content: '';
        background: #67a933;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        z-index: -1;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        -webkit-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
      .brand-search-jobs_form .form-search-jobs_btn .btn-search:hover, .brand-search-jobs_form .form-search-jobs_btn .btn-search:focus {
        -moz-box-shadow: none;
        -o-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .brand-search-jobs_form .form-search-jobs_btn .btn-search:hover:after, .brand-search-jobs_form .form-search-jobs_btn .btn-search:focus:after {
          height: 100%; }
    @media (min-width: 992px) {
      .brand-search-jobs_form .form-search-jobs {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .brand-search-jobs_form .form-search-jobs_input {
          width: calc(100% - 150px); }
        .brand-search-jobs_form .form-search-jobs_btn {
          margin-left: 30px; }
          .brand-search-jobs_form .form-search-jobs_btn .btn-search {
            width: 120px; } }
    .brand-search-jobs_form .most-key-search-jobs {
      color: #fff;
      padding: 15px 0;
      border-top: 1px solid rgba(250, 250, 250, 0.1);
      margin-top: 15px; }
      .brand-search-jobs_form .most-key-search-jobs a {
        text-decoration: underline;
        margin: 0 5px;
        display: inline-block; }
        .brand-search-jobs_form .most-key-search-jobs a:hover, .brand-search-jobs_form .most-key-search-jobs a:focus {
          color: #bc002d; }
  @media (max-width: 991px) {
    .brand-search-jobs {
      padding: 60px 0 40px; }
      .brand-search-jobs .brand-title {
        font-size: 30px; }
      .brand-search-jobs .brand-desc {
        font-size: 18px;
        margin-bottom: 35px; } }
  @media (max-width: 575px) {
    .brand-search-jobs {
      padding: 50px 0 30px; }
      .brand-search-jobs .brand-title {
        font-size: 24px; }
      .brand-search-jobs .brand-desc {
        font-size: 16px;
        margin-bottom: 30px; } }

.right-sidebar {
  max-width: 400px; }
  .right-sidebar .sidebar-header {
    padding: 35px 30px;
    background: #bc002d;
    color: #fff; }
    .right-sidebar .sidebar-header .widget-title {
      color: #fff; }
  .right-sidebar .sidebar-widget {
    margin-top: 15px;
    border: 10px solid #f2f2f2;
    padding: 20px; }
    .right-sidebar .sidebar-widget .btn-custom {
      display: block;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .right-sidebar .widget-icon {
    color: #bc002d;
    font-size: 37px;
    display: inline-block;
    margin-bottom: 10px; }
  .right-sidebar .widget-title {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #2d2d2d; }
  .right-sidebar .widget-list {
    padding-left: 20px;
    margin: 20px 0 0; }
    .right-sidebar .widget-list li {
      margin-top: 10px;
      opacity: 0.5; }
      .right-sidebar .widget-list li.active {
        opacity: 1; }
      .right-sidebar .widget-list li a:hover {
        color: #fff; }
  .right-sidebar .widget-latest-jobs {
    padding-left: 20px;
    margin: 20px 0 0;
    list-style: none; }
    .right-sidebar .widget-latest-jobs h6 {
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37; }
      .right-sidebar .widget-latest-jobs h6 a:hover {
        color: #bc002d; }
    .right-sidebar .widget-latest-jobs small {
      font-size: 13px;
      display: inline-block;
      color: #ababab; }
    .right-sidebar .widget-latest-jobs p {
      margin: 10px 0 0;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3; }
    .right-sidebar .widget-latest-jobs li {
      margin-left: -20px;
      padding-left: 20px;
      position: relative; }
      .right-sidebar .widget-latest-jobs li:before {
        content: '●';
        position: absolute;
        color: #ababab;
        left: 0;
        top: 0;
        line-height: 1.2;
        font-size: 12px; }
      .right-sidebar .widget-latest-jobs li:not(:last-child) {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #eaeaea; }
  .right-sidebar .widget-testimonials {
    padding-left: 0;
    margin: 20px 0 0;
    list-style: none; }
    .right-sidebar .widget-testimonials h6 {
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37; }
      .right-sidebar .widget-testimonials h6 a:hover {
        color: #bc002d; }
    .right-sidebar .widget-testimonials small {
      font-size: 13px;
      display: inline-block;
      color: #ababab; }
    .right-sidebar .widget-testimonials p {
      margin: 10px 0 15px;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4; }
    .right-sidebar .widget-testimonials img {
      display: inline-block;
      margin-top: 15px; }
  .right-sidebar .widget-blog {
    padding-left: 0;
    margin: 20px 0 0;
    list-style: none; }
    .right-sidebar .widget-blog h6 {
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37; }
      .right-sidebar .widget-blog h6 a:hover {
        color: #bc002d; }
    .right-sidebar .widget-blog small {
      font-size: 13px;
      display: inline-block;
      color: #ababab; }
    .right-sidebar .widget-blog p {
      margin: 10px 0 0;
      line-height: 1.7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4; }
  .right-sidebar .widget-viewmore {
    text-align: right;
    border-top: 1px dashed #eaeaea;
    padding-top: 15px;
    margin-top: 20px; }
    .right-sidebar .widget-viewmore a {
      font-size: 13px;
      color: #bc002d;
      font-style: italic;
      font-weight: 500;
      display: inline-block; }
      .right-sidebar .widget-viewmore a:after {
        content: '\f178';
        font-family: "Font Awesome 5 Pro";
        display: inline-block;
        margin-left: 5px;
        font-style: normal;
        font-size: 1.1em; }
      .right-sidebar .widget-viewmore a:hover {
        -o-animation: pulse 0.5s linear;
        -moz-animation: pulse 0.5s linear;
        -webkit-animation: pulse 0.5s linear;
        animation: pulse 0.5s linear; }
        .right-sidebar .widget-viewmore a:hover:after {
          -o-animation: lightSpeedOut 1s linear infinite;
          -moz-animation: lightSpeedOut 1s linear infinite;
          -webkit-animation: lightSpeedOut 1s linear infinite;
          animation: lightSpeedOut 1s linear infinite; }
  @media (max-width: 991px) {
    .right-sidebar {
      margin: 50px auto 0; }
      .right-sidebar .sidebar-header {
        padding: 15px 30px; } }
  @media (max-width: 400px) {
    .right-sidebar .widget-title {
      font-size: 20px; } }

.job-detail {
  padding: 80px 0; }
  .job-detail_title {
    margin-bottom: 45px; }
    .job-detail_title h1 {
      color: #2d2d2d;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px; }
    .job-detail_title .info .time,
    .job-detail_title .info .views {
      display: inline-block; }
      .job-detail_title .info .time:before,
      .job-detail_title .info .views:before {
        content: '\f06e';
        display: inline-block;
        color: #ababab;
        margin-right: 5px;
        font-family: "Font Awesome 5 Pro"; }
    .job-detail_title .info .time {
      margin-right: 25px; }
      .job-detail_title .info .time:before {
        content: '\f017'; }
  .job-detail_overview, .job-detail_description {
    margin-bottom: 50px; }
  .job-detail_overview .table-overview {
    width: 100%; }
    .job-detail_overview .table-overview tr {
      border-bottom: 1px dotted #eaeaea; }
      .job-detail_overview .table-overview tr td {
        padding: 10px 0; }
        .job-detail_overview .table-overview tr td:first-child {
          color: #2d2d2d;
          width: 180px;
          vertical-align: top; }
          .job-detail_overview .table-overview tr td:first-child i {
            color: #cfcfcf;
            width: 20px;
            display: inline-block; }
      .job-detail_overview .table-overview tr:first-child td {
        padding-top: 0; }
  .job-detail .right-sidebar .sidebar-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .job-detail .right-sidebar .sidebar-header i {
      font-size: 40px;
      margin-right: 10px; }
      @media (max-width: 400px) {
        .job-detail .right-sidebar .sidebar-header i {
          font-size: 28px; } }
    .job-detail .right-sidebar .sidebar-header .widget-title {
      margin: 0; }
  .job-detail .right-sidebar .job-contact {
    margin-bottom: 10px; }
    .job-detail .right-sidebar .job-contact tr td {
      vertical-align: middle;
      font-size: 16px;
      color: #4e4e4e;
      padding: 5px 0; }
      .job-detail .right-sidebar .job-contact tr td label {
        font-size: 14px;
        display: block;
        color: #2d2d2d;
        margin-bottom: 5px; }
      .job-detail .right-sidebar .job-contact tr td a[href*="tel"] {
        font-weight: bold;
        color: #bc002d; }
      .job-detail .right-sidebar .job-contact tr td a[href*="mailto"] {
        font-style: italic; }
      .job-detail .right-sidebar .job-contact tr td:first-child {
        width: 40px; }
        .job-detail .right-sidebar .job-contact tr td:first-child i {
          font-size: 24px;
          color: #cfcfcf; }
  @media (max-width: 1199px) {
    .job-detail_title h1 {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .job-detail {
      padding: 50px 0; }
      .job-detail_title {
        margin-bottom: 30px; }
        .job-detail_title h1 {
          font-size: 24px; }
      .job-detail_overview, .job-detail_description {
        margin-bottom: 40px; } }
  @media (max-width: 575px) {
    .job-detail_title h1 {
      font-size: 20px; }
    .job-detail_overview .table-overview tr td:first-child {
      width: 20px; }
      .job-detail_overview .table-overview tr td:first-child span {
        display: none; } }

.simillar-jobs {
  padding: 80px 0;
  background: #fbfbfb; }
  @media (max-width: 767px) {
    .simillar-jobs {
      padding: 50px 0; } }
  .simillar-jobs_list {
    position: relative; }
    .simillar-jobs_list .button-view-all {
      color: #2d2d2d;
      border: 1px solid #2d2d2d;
      font-size: 11px;
      text-transform: uppercase;
      padding: 10px 20px;
      letter-spacing: 1px;
      font-weight: bold;
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: calc(100% + 40px);
      text-align: center;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
      .simillar-jobs_list .button-view-all:hover, .simillar-jobs_list .button-view-all:focus {
        background: #bc002d;
        border-color: #bc002d;
        color: #fff; }
      @media (max-width: 575px) {
        .simillar-jobs_list .button-view-all {
          position: static;
          display: block;
          width: 150px;
          margin: 30px auto 0; } }
  .simillar-jobs .job-item {
    -moz-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    background: #fff;
    padding: 25px 30px; }
    .simillar-jobs .job-item:nth-child(2n) {
      background: #fafafa; }
    .simillar-jobs .job-item:first-child {
      -moz-border-radius: 20px 20px 0 0;
      -webkit-border-radius: 20px 20px 0 0;
      border-radius: 20px 20px 0 0; }
    .simillar-jobs .job-item:last-child {
      -moz-border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      border-radius: 0 0 20px 20px; }
    .simillar-jobs .job-item:hover {
      -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
      position: relative; }
    .simillar-jobs .job-item_title {
      font-size: 16px;
      font-weight: bold;
      color: #2d2d2d; }
      .simillar-jobs .job-item_title a:hover,
      .simillar-jobs .job-item_title a:focus {
        color: #bc002d; }
    .simillar-jobs .job-item_wage-offer {
      font-weight: 500;
      color: #bc002d; }
      .simillar-jobs .job-item_wage-offer:before {
        content: '\f2e8';
        color: #a1a1a1;
        font-weight: 100;
        display: inline-block;
        margin-right: 5px;
        font-family: "Font Awesome 5 Pro"; }
    .simillar-jobs .job-item_location:before {
      content: '\f3c5';
      color: #a1a1a1;
      font-weight: 100;
      display: inline-block;
      margin-right: 5px;
      font-family: "Font Awesome 5 Pro"; }
    .simillar-jobs .job-item_field {
      display: inline-block;
      background: #67a933;
      color: #fff;
      padding: 2px 5px;
      border-radius: 3px;
      margin-bottom: 4px; }
    .simillar-jobs .job-item_date:before {
      content: '\f073';
      color: #a1a1a1;
      font-weight: 100;
      display: inline-block;
      margin-right: 5px;
      font-family: "Font Awesome 5 Pro"; }

.section-employers {
  padding: 80px 0;
  position: relative; }
  .section-employers_list {
    position: relative; }
    .section-employers_list .button-view-all {
      color: #2d2d2d;
      border: 1px solid #2d2d2d;
      font-size: 11px;
      text-transform: uppercase;
      padding: 10px 20px;
      letter-spacing: 1px;
      font-weight: bold;
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: calc(100% + 40px);
      text-align: center;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px; }
      .section-employers_list .button-view-all:hover, .section-employers_list .button-view-all:focus {
        background: #bc002d;
        border-color: #bc002d;
        color: #fff; }
      @media (max-width: 575px) {
        .section-employers_list .button-view-all {
          position: static;
          display: block;
          width: 150px;
          margin: 30px auto 0; } }
    .section-employers_list__logo {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin: -3px; }
      .section-employers_list__logo a {
        display: block;
        margin: 3px; }
        .section-employers_list__logo a img {
          width: 162px;
          height: 90px;
          object-fit: cover;
          -o-object-fit: cover;
          -moz-filter: contrast(0);
          -o-filter: contrast(0);
          filter: contrast(0);
          -moz-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          -webkit-transition: all linear 0.3s;
          transition: all linear 0.3s;
          opacity: 0.3; }
          @media (max-width: 1199px) {
            .section-employers_list__logo a img {
              width: 144px;
              height: 80px; } }
          @media (max-width: 991px) {
            .section-employers_list__logo a img {
              width: 108px;
              height: 60px; } }
        .section-employers_list__logo a:hover img, .section-employers_list__logo a:focus img {
          -moz-filter: contrast(1);
          -o-filter: contrast(1);
          filter: contrast(1);
          opacity: 1; }
  @media (max-width: 767px) {
    .section-employers {
      padding: 50px 0; } }

/*# sourceMappingURL=job-detail.css.map */
