@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.aboutus{
  overflow: hidden;
  &-page{
    padding: 80px 0;
    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }
  &_head,
  &_company{
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
  &_head{
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
    &__thumb{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../images/border-img-aboutus.png") no-repeat left top;
        @include background-size(cover);
        left: -11%;
        top: -11%;
      }
      img{
        width: 270px;
        height: 270px;
        @include object-fit(cover);
        @include border-radius(50% 0);
        position: relative;
        z-index: 1;
        display: block;
      }
    }
    &__content{
      padding-left: 30px;
      width: calc(100% - 270px);
      h1{
        font-size: 48px;
        font-weight: 900;
        color: $color-green;
        font-family: $font-playfair;
        margin-bottom: 25px;
      }
      p{
        margin-bottom: 0;
        max-width: 420px;
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
        color: #a1a1a1;
        line-height: 1.3333;
        padding-bottom: 15px;
        span{
          position: relative;
          z-index: 1;
        }
        i.fa-quote-right{
          position: relative;
          z-index: 0;
          &:before{
            font-size: 40px;
            color: #eaeaea;
            position: absolute;
            top: -20px;
            left: -36px;
            font-style: italic;
          }
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      &__thumb{
        img{
          width: 200px;
          height: 200px;
        }
      }
      &__content{
        width: calc(100% - 200px);
        h1{
          font-size: 30px;
        }
        p{
          font-size: 16px;
        }
      }
    }
    @media (max-width: 575px) {
      @include flex-direction(column);
      &__content{
        width: auto;
        padding: 0;
        text-align: right;
        margin-top: -35px;
        position: relative;
        z-index: 2;
        h1{
          font-size: 30px;
        }
        p{
          font-size: 16px;
          max-width: 370px;
        }
      }
    }
  }
  &_company{
    .text-format{
      table{
        small,span{
          display: inline-block;
        }
        small{
          color: #ababab;
          font-size: 13px;
        }
        tr{
          td{
            &:first-child{
              min-width: 85px;
            }
          }
        }
      }
    }
  }
  &_services{
    .text-format{
      .check-list{
        list-style: none;
        padding: 0;
        li{
          position: relative;
          padding-left: 25px;
          &:before{
            content: '\f058';
            font-family: $font-awesome;
            color: #ababab;
            position: absolute;
            left: 0;
            top: 0
          }
        }
      }
    }
    &__slick{
      max-width: 600px;
      &.row{
        margin: 25px -15px 75px;
        .col-12{
          padding: 15px;
        }
      }
      @import 'components/service-item';
      .service-item{
        @include border-radius(15px);
      }
      .slick-slide{
        &:focus{
          outline: none;
        }
      }
      .slick-arrow{
        position: absolute;
        top: calc(100% + 25px);
        width: 42px;
        height: 42px;
        line-height: 42px;
        border: none;
        padding: 0;
        font-size: 20px;
        background: rgba(#000, 0.2);
        color: #fff;
        left: 15px;
        @include border-radius(50%);
        @include transition(all linear .3s);
        &:hover,
        &:focus{
          outline: none;
          background: #fff;
          color: #2d2d2d;
          @include box-shadow(0px 2px 8px 1px rgba(0, 0, 0, 0.3));
        }
        &.slick_next{
          left: 62px;
        }
      }
    }
  }
}