@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';

.blog-detail{
  padding: 60px 0 80px;
  &_thumb{
    margin-bottom: 45px;
  }
  &_title{
    font-family: $font-playfair;
    font-weight: bold;
    color: #2d2d2d;
    font-size: 30px;
    line-height: 1.3;
  }
  &_info{
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    margin: 10px 0;
    &__left{
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      padding: 5px 0;
      .category{
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        background: #4ea14a;
        color: #fff;
        padding: 5px 15px 4px;
        @include border-radius(0 50px 50px 50px);
        margin-right: 15px;
      }
      .datetime{
        font-size: 13px;
        color: #868686;
        padding: 5px 0;
        margin-right: 15px;
        &:before{
          content: '\f017';
          font-family: $font-awesome;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    &__right{
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(flex-end);
      @include align-items(center);
    }
  }
  &_content{
    text-align: justify;
    font-size: 16px;
    padding-top: 30px;
    border-top: 1px solid #eaeaea;
  }
  &__like{
    background: none;
    border: none;
    padding: 0;
    font-size: 13px;
    color: #868686;
    line-height: 20px;
    margin-right: 15px;
    &:before{
      content: '\f004';
      font-family: $font-awesome;
      display: inline-block;
      font-size: 18px;
      color: $color-red;
      float: left;
      margin-right: 8px;
      line-height: 1;
      font-weight: 100;
    }
    &:hover{
      &:before{
        @include animation(heartBeat 1s linear infinite);
      }
    }
    &.liked{
      &:before{
        font-weight: 900;
        @include animation(bounceIn 1s linear);
      }
    }
    &:focus{
      outline: none;
    }
  }
  &__share{
    margin-right: 5px;
    position: relative;
    &:last-child{
      margin-right: 0;
    }
    i{
      width: 30px;
      height: 30px;
      line-height: 29px;
      text-align: center;
      @include border-radius(50%);
      border: 1px solid #868686;
      color: #868686;
      @include transition(all linear .3s);
    }
    &:hover{
      &:after{
        background: #444;
        @include border-radius(3px);
        color: #fff;
        content: attr(aria-label);
        font-size: 12px;
        padding: 3px 10px;
        position: absolute;
        bottom: calc(100% + 10px);
        left: 50%;
        @include translate(-50%, 0);
        white-space: nowrap;
      }
      &:before{
        content: "";
        @include triangle(bottom, 8px 5px 0 5px, #444);
        position: absolute;
        left: 50%;
        @include translate(-50%, 0);
        bottom: calc(100% + 2px);
      }
      i{
        color: #fff;
        &.fa-facebook-f{
          background: #4267b2;
          border-color: #4267b2;
        }
        &.fa-linkedin-in{
          background: #004b7c;
          border-color: #004b7c;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 30px 0 50px;
    &_content{
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    &_thumb{
      margin-bottom: 20px;
    }
    &_title{
      font-size: 18px;
      line-height: 1.5;
    }
    &_content{
      padding-top: 15px;
      blockquote{
        margin-left: 10px;
      }
    }
  }
}

@import 'layout/section-blog';