@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';

.blogs-list-page{
  padding: 80px 0;
  .row{
    margin: -15px;
    [class*="col-"]{
      padding: 15px;
    }
  }
  @import "components/blog-item-style-2";
  @import "components/pagination";
  @media (max-width: 767px) {
    padding: 50px 0;
  }
}