@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/preloader';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';


.home-about{
  padding: 80px 0;
  overflow: hidden;
  &_image{
    width: 100%;
    position: relative;
    .pulse-x{
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      width: 100%;
      max-width: 400px;
      height: 100%;
      background: rgba(226, 226, 226, 0.5);
      @include border-radius(50%);
      will-change: transform;
      @include animation(pulsate 3s infinite);
      z-index: 0;
    }
    img{
      display: inline-block;
      width: 100%;
      max-width: 400px;
      @include border-radius(50%);
      position: relative;
    }
    &:before,
    &:after{
      color: #f7f7f8;
      font-size: 300px;
      font-weight: 900;
      position: absolute;
      top: 50%;
      @include translate(0, -50%);
    }
    &:before{
      content: 'J';
      right: 100%;
    }
    &:after{
      content: 'B';
      left: 100%;
    }
  }
  &_content{
    .button-readmore{
      color: #2d2d2d;
      border: 1px solid #2d2d2d;
      font-size: 11px;
      text-transform: uppercase;
      padding: 10px 20px;
      letter-spacing: 1px;
      font-weight: bold;
      margin-top: 15px;
      display: inline-block;
      @include border-radius(50px);
      &:hover,
      &:focus{
        background: $color-red;
        border-color: $color-red;
        color: #fff;
      }
    }
  }
  @media (max-width: 767px){
    padding: 50px 0;
    &_content{
      margin-top: 30px;
    }
  }
}
.home-special-areas{
  padding: 80px 0;
  overflow: hidden;
  position: relative;
  .section-title_title{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  &_slick{
    @include box-shadow(0px 2px 8px 1px rgba(0, 0, 0, 0.1));
    @import 'components/service-item';
    .service-item{
      &:nth-child(2n){
        background: #fafafa;
      }
    }
    .slick-slide{
      &:focus{
        outline: none;
      }
    }
    .slick-arrow{
      position: absolute;
      bottom: calc(100% + 35px);
      width: 42px;
      height: 42px;
      line-height: 42px;
      border: none;
      padding: 0;
      font-size: 20px;
      background: rgba(#000, 0.2);
      color: #fff;
      right: 0;
      @include border-radius(50%);
      @include transition(all linear .3s);
      &:hover,
      &:focus{
        outline: none;
        background: #fff;
        color: #2d2d2d;
      }
      &.slick_prev{
        right: 47px;
      }
    }
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }
}
.home-jobs-opening{
  padding: 80px 0;
  overflow: hidden;
  &_list{
    position: relative;
    @import "components/button-view-all";
    @import 'components/job-item';
  }
  &_slick{
    margin: -10px !important;
    .slick_dots{
      @include flexbox();
      @include justify-content(center);
      padding: 0 10px;
      margin: 25px 0 0;
      list-style: none;
      font-size: 0;
      button{
        margin: 0 5px;
        padding: 0;
        width: 12px;
        height: 12px;
        @include border-radius(50%);
        background: none;
        border: 1px solid #dbdbdb;
        &:hover,
        &:focus{
          outline: none;
        }
      }
      .slick-active{
        button{
          background: #eaeaea;
          border-color: #eaeaea;
        }
      }
    }
  }
  &__page{
    padding: 10px;
    &:focus{
      outline: none;
    }
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }
}

@import 'layout/section-blog';
@import 'layout/section-employers';
