@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'components/button-custom';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.job-detail{
  padding: 80px 0;
  &_title{
    margin-bottom: 45px;
    h1{
      color: #2d2d2d;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .info{
      .time,
      .views{
        display: inline-block;
        &:before{
          content: '\f06e';
          display: inline-block;
          color: #ababab;
          margin-right: 5px;
          font-family: $font-awesome;
        }
      }
      .time{
        margin-right: 25px;
        &:before{
          content: '\f017';
        }
      }
    }
  }
  &_overview,
  &_description{
    margin-bottom: 50px;
  }
  &_overview{
    .table-overview{
      width: 100%;
      tr{
        border-bottom: 1px dotted #eaeaea;
        td{
          padding: 10px 0;
          &:first-child{
            color: #2d2d2d;
            width: 180px;
            vertical-align: top;
            i{
              color: #cfcfcf;
              width: 20px;
              display: inline-block;
            }
          }
        }
        &:first-child{
          td{
            padding-top: 0;
          }
        }
      }
    }
  }
  .right-sidebar{
    .sidebar-header{
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      i{
        font-size: 40px;
        margin-right: 10px;
        @media (max-width: 400px) {
          font-size: 28px;
        }
      }
      .widget-title{
        margin: 0;
      }
    }
    .job-contact{
      margin-bottom: 10px;
      tr{
        td{
          vertical-align: middle;
          font-size: 16px;
          color: #4e4e4e;
          padding: 5px 0;
          label{
            font-size: 14px;
            display: block;
            color: #2d2d2d;
            margin-bottom: 5px;
          }
          a{
            &[href*="tel"]{
              font-weight: bold;
              color: $color-red;
            }
            &[href*="mailto"]{
              font-style: italic;
            }
          }
          &:first-child{
            width: 40px;
            i{
              font-size: 24px;
              color: #cfcfcf;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1199px) {
    &_title{
      h1{
        font-size: 30px;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 50px 0;
    &_title{
      margin-bottom: 30px;
      h1{
        font-size: 24px;
      }
    }
    &_overview,
    &_description{
      margin-bottom: 40px;
    }
  }
  @media (max-width: 575px) {
    &_title{
      h1{
        font-size: 20px;
      }
    }
    &_overview{
      .table-overview{
        tr{
          td{
            &:first-child{
              width: 20px;
              span{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.simillar-jobs{
  padding: 80px 0;
  background: #fbfbfb;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  &_list{
    position: relative;
    @import "components/button-view-all";
  }
  @import "components/job-item";
}

@import 'layout/section-employers';