@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';

.list-jobs-page{
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  &_list{
    @import "components/job-item";
  }
  @import "components/pagination";
}

@import 'layout/section-blog';
@import 'layout/section-employers';