@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.mission-page{
  padding: 80px 0;
  .mission-item{
    @include flexbox();
    @include flex-wrap(wrap);
    &:not(:last-child){
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px dashed #eaeaea;
    }
    &_avatar{
      img{
        width: 170px;
        height: 170px;
        @include object-fit(cover);
        @include border-radius(50%);
      }
    }
    &_content{
      width: calc(100% - 170px);
      padding-left: 30px;
      .name{
        color: #2d2d2d;
        font-weight: bold;
        font-size: 16px;
      }
      .position{
        font-size: 13px;
        display: block;
        color: #868686;
      }
      .quote{
        margin: 15px 0 10px;
        font-weight: bold;
        color: $color-red;
        line-height: 1.5;
        font-style: italic;
        font-size: 16px;
      }
      .text-format{
        line-height: 1.7;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 50px 0;
    .mission-item{
      @include flex-direction(column);
      @include align-items(center);
      &_avatar,
      &_content{
        width: auto;
        padding: 15px 0 0;
        .name, .position{
          text-align: center;
        }
        .quote,.text-format{
          text-align: justify;
        }
      }
    }
  }
}