@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.testimonials-page{
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  .testimonials-list{
    .testimonials-item{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      &_content{
        background: #eaeaea;
        padding: 30px;
        @include border-radius(10px);
        @include transition(all linear .3s);
        .title{
          color: #2d2d2d;
          margin-bottom: 15px;
          font-weight: bold;
          font-size: 18px;
          @include transition(all linear .3s);
        }
      }
      &_info{
        text-align: right;
        padding-right: 15px;
        @include flexbox();
        @include align-items(flex-end);
        @include justify-content(flex-end);
        .avatar{
          width: 66px;
          height: 66px;
          @include border-radius(50%);
          @include object-fit(cover);
          border: 2px solid #fff;
          order: 1;
          margin-left: 15px;
          margin-top: -20px;
        }
        .name{
          font-weight: bold;
          color: #2d2d2d;
          margin: 0;
        }
        .position{
          color: #ababab;
          font-size: 13px;
          font-style: italic;
        }
      }
      &:hover,
      &:focus{
        .testimonials-item_content{
          background: $color-red;
          color: #e0e0e0;
          .title{
            color: #fff;
          }
        }
      }
      @media (max-width: 767px) {
        &_content{
          padding: 30px 15px;
        }
      }
      @media (max-width: 575px) {
        &_info{
          text-align: center;
          @include flex-direction(column);
          @include align-items(center);
          padding: 0;
          .info{
            order: 2;
          }
          .avatar{
            margin: -20px 0 10px;
          }
        }
      }
    }
  }
}