@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import "components/button-custom";

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.vacancy-submit-page{
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  .vacancy-form{
    max-width: 670px;
    button[type="submit"]{
      width: 170px;
    }
    .label-upload-file{
      height: auto;
      padding: 0.75rem;
      input[type="file"]{
        color: #2d2d2d;
        font-size: 12px;
      }
    }
  }
}

