@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/animate';

@import 'base/animation';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';

@import 'components/button-custom';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/brand-search-job';
@import 'layout/right-sidebar';

.why-jjob{
  &-page{
    padding: 80px 0;
    @media (max-width: 767px) {
      padding: 50px 0;
    }
  }
  &_advantages{
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
    &_list{
      counter-reset: section;
    }
    &__box{
      &:not(:last-child){
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px dashed #eaeaea;
      }
      .title{
        color: $color-red;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 25px;
        position: relative;
        padding-top: 26px;
        &:before{
          content: "0" counter(section) ".";
          counter-increment: section;
          position: absolute;
          z-index: 0;
          font-size: 48px;
          color: rgba(45, 45, 45, 0.1);
          font-weight: 900;
          top: 0;
          left: 0;
        }
      }
    }
  }
}