.brand-search-jobs{
  padding: 90px 0 60px;
  position: relative;
  .brand-title{
    color: #fff;
    font-family: $font-playfair;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
  }
  .brand-desc{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px;
    &:before{
      content: '___';
      display: inline-block;
      margin-right: 15px;
    }
  }
  &_form{
    background: rgba(#000, 0.8);
    padding: 30px 30px 0;
    .form-search-jobs{
      &_input{
        .form-control{
          border-color: #fff;
          padding-left: 45px;
          &:focus{
            border-color: $color-green;
          }
        }
        .form-group{
          position: relative;
          label{
            position: absolute;
            top: 50%;
            @include translate(0, -50%);
            z-index: 5;
            font-size: 20px;
            color: #a1a1a1;
            left: 15px;
          }
        }
        .select2-container--default{
          .select2-selection--single{
            border-color: #fff;
            .select2-selection__rendered{
              padding-left: 45px;
            }
          }
          &.select2-container--focus{
            .select2-selection--single{
              outline: none;
              border-color: $color-green;
            }
          }
        }
      }
      &_btn{
        .btn-search{
          background: $color-red;
          color: #fff;
          font-weight: bold;
          width: 100%;
          height: 40px;
          position: relative;
          border: none;
          z-index: 1;
          &:after{
            content: '';
            background: $color-green;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0;
            z-index: -1;
            @include border-radius(3px);
            @include transition(all ease-in-out .3s);
          }
          &:hover,
          &:focus{
            @include box-shadow(none);
            &:after{
              height: 100%;
            }
          }
        }
      }
      @media (min-width: 992px) {
        @include flexbox();
        @include flex-wrap(wrap);
        &_input{
          width: calc(100% - 150px);
        }
        &_btn {
          margin-left: 30px;
          .btn-search{
            width: 120px;
          }
        }
      }
    }
    .most-key-search-jobs{
      color: #fff;
      padding: 15px 0;
      border-top: 1px solid rgba(#fafafa, 0.1);
      margin-top: 15px;
      a{
        text-decoration: underline;
        margin: 0 5px;
        display: inline-block;
        &:hover,
        &:focus{
          color: $color-red;
        }
      }
    }
  }

  @media (max-width: 991px){
    padding: 60px 0 40px;
    .brand-title{
      font-size: 30px;
    }
    .brand-desc{
      font-size: 18px;
      margin-bottom: 35px;
    }
  }
  @media (max-width: 575px){
    padding: 50px 0 30px;
    .brand-title{
      font-size: 24px;
    }
    .brand-desc{
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}