.footer{
  .footer-top{
    background: #dfdfdf;
    padding: 40px 0;
    position: relative;
    &_col{
      text-align: center;
      padding: 20px 0;
      max-width: 270px;
      margin: 0 auto;
      i{
        color: $color-red;
        background: #fff;
        display: inline-block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        position: relative;
        z-index: 1;
        @include border-radius(50%);
        @include box-shadow(0px 6px 8px 1px rgba(#000, 0.1));
        @include transition(all linear .3s);
        &:after{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
          @include border-radius(50%);
          @include box-shadow(0px 1px 15px 1px rgba(255,255,255,1));
          @include animation(pulsate 2s infinite);
          z-index: 0;
        }
        &:hover{
          color: #fff;
          background: $color-red;
          @include scale(1.1);
          &:after{
            @include box-shadow(0px 1px 15px 1px rgba($color-red, .6));
          }
        }
      }
      p{
        margin: 20px 0 15px;
        line-height: 1.7;
      }
      h3{
        font-weight: bold;
        color: $color-red;
        font-weight: bold;
        font-size: 16px;
        a{
          display: inline-block;
          &:before{
            content: '\f105';
            font-family: $font-awesome;
            display: inline-block;
            margin-right: 5px;
          }
          &:hover{
            @include animation(pulse .5s linear);
          }
        }
      }
    }
  }
  .footer-middle{
    background: url("../images/bg-footer.jpg") no-repeat center center;
    @include background-size(cover);
    color: #fff;
    padding: 40px 0;
    &_col{
      padding: 20px 0;
    }
    &__title{
      font-size: 18px;
      color: #868686;
      font-weight: bold;
      margin-bottom: 35px;
    }
    &_address{
      address{
        margin-bottom: 30px;
        h4{
          color: $color-red;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
        }
        p{
          margin-bottom: 0;
          line-height: 1.7;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &_links{
      line-height: 1.7;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin-bottom: 12px;
        padding-left: 15px;
        position: relative;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          &:before{
            content: '\f111';
            font-family: $font-awesome;
            position: absolute;
            left: 0;
            color: $color-red;
            top: 8px;
            font-weight: bold;
            font-size: 5px;
          }
          &:hover{
            color: $color-red;
            &:before{
              content: '\f04b';
              font-size: 10px;
              top: 3px
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    padding: 16px 0;
    background: #fafafa;
    &_copyright{
      @include flexbox();
      @include align-items(center);
      @include flex-wrap(wrap);
      img{
        width: 122px;
        margin-right: 45px;
      }
      span{
        width: calc(100% - 167px);
      }
    }
    &_social{
      @include flexbox();
      @include justify-content(flex-end);
      @include flex-wrap(wrap);
      a{
        margin-right: 10px;
        position: relative;
        display: block;
        &:last-child{
          margin-right: 0;
        }
        i{
          width: 40px;
          height: 40px;
          line-height: 40px;
          @include border-radius(50%);
          background: #eaeaea;
          text-align: center;
          font-size: 16px;
          @include transition(all linear .3s);
          &.fa-facebook-f{
            color: #4267b2;
          }
          &.fa-twitter{
            color: #1da1f2;
          }
          &.fa-linkedin-in{
            color: #004b7c;
          }
          &.fa-youtube{
            color: #bc002d;
          }
        }
        &:hover{
          &:after{
            background: #444;
            @include border-radius(3px);
            color: #fff;
            content: attr(aria-label);
            font-size: 13px;
            padding: 3px 10px;
            position: absolute;
            bottom: calc(100% + 10px);
            left: 50%;
            @include translate(-50%, 0);
          }
          &:before{
            content: "";
            @include triangle(bottom, 8px 5px 0 5px, #444);
            position: absolute;
            left: 50%;
            @include translate(-50%, 0);
            bottom: calc(100% + 2px);
          }
          i{
            color: #fff;
            @include scale(1.05);
            &.fa-facebook-f{
              background: #4267b2;
            }
            &.fa-twitter{
              background: #1da1f2;
            }
            &.fa-linkedin-in{
              background: #004b7c;
            }
            &.fa-youtube{
              background: #bc002d;
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      &_copyright{
        img{
          margin-right: 20px;
          width: 100px;
        }
        span{
          width: calc(100% - 120px);
        }
      }
      &_social {
        @include justify-content(center);
        margin-top: 20px;
      }
    }
  }
}