.header{
  @include box-shadow(0 2px 5px 0 rgba(0,0,0,.05));
  @include transition(all 0.2s ease-in-out);
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1000;
  &.header-down{
    transform: translateY(-100%);
    visibility: hidden;
  }
  @import "../components/header-nav-desktop";
  &-nav-mobile{
    &_btn{
      display: none;
      &:before{
        content: '\f0c9';
        font-family: $font-awesome;
        display: inline-block;
        font-weight: 100;
        font-size: 25px;
        color: $color-green;
      }
    }
    .header-info{
      padding: 15px 20px;
      @include flexbox();
      &_email,
      &_phone{
        display: inline-block;
        padding: 0 0 0 20px;
        position: relative;
        &:before{
          content: '\f0e0';
          font-family: $font-awesome;
          font-weight: 100;
          position: absolute;
          left: 0;
          color: #dad7d7;
          top: 0px;
        }
      }
      &_phone{
        &:before{
          content: '\f879';
        }
      }
      @media (max-width: 450px) {
        @include flex-direction(column);
      }
    }
  }
  .header-middle{
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }
  .header-right{
    @include flexbox();
    @include align-items(flex-end);
    @include flex-direction(column);
  }
  .header-logo{
    max-width: 137px;
  }
  .header-info{
    padding: 15px 0 8px;
    @include flexbox();
    &_email,
    &_phone,
    &_language{
      display: inline-block;
      padding: 0 14px 0 30px;
      position: relative;
      margin-right: 14px;
      border-right: 1px solid #dbdbdb;
      &:hover{
        color: $color-red;
        &:before{
          animation: tada linear 1s infinite;
        }
      }
      &:before{
        content: '\f0e0';
        font-family: $font-awesome;
        font-weight: 100;
        position: absolute;
        left: 0;
        font-size: 20px;
        color: #dad7d7;
        top: -4px;
        display: inline-block;
      }
    }
    &_phone{
      &:before{
        content: '\f879';
      }
    }
    &_language{
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
      &:before{
        content: '\f0ac';
      }
      &:after{
        content: '\f107';
        font-family: $font-awesome;
        display: inline-block;
        margin-left: 5px;
      }
      &.open{
        &:after{
          content: '\f106';
        }
      }
      &__box{
        cursor: pointer;
        position: relative;
        ul{
          position: absolute;
          padding: 0;
          margin: 0;
          list-style: none;
          top: 100%;
          right: 0;
          padding-top: 15px;
          display: none;
          z-index: 10;
          li{
            a{
              background: #f7f7f7;
              padding: 5px 15px;
              display: block;
              white-space: nowrap;
              &:hover{
                background: $color-green;
                color: #fff;
              }
            }
            &:first-child{
              position: relative;
              a{
                padding-top: 10px;
              }
              &:before{
                content: '';
                position: absolute;
                bottom: 100%;
                left: 40px;
                @include triangle(top, 0 10px 10px 10px, #f7f7f7);
              }
            }
            &:last-child{
              a{
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 991px){
    .header-nav-desktop{
      display: none;
    }
    .header-logo{
      max-width: 122px;
    }
    .header-info{
      padding: 25px 0;
    }
    .header-right{
      @include flex-direction(unset);
      @include align-items(center);
    }
    .header-nav-mobile {
      &_btn {
        display: block;
        margin-left: 15px;
      }
    }
  }
  @media (max-width: 767px){
    .header-info{
      &_email,
      &_phone{
        display: none;
      }
    }
  }
}

.header-nav-mobile {
  display: none !important;
  &.mm-menu_opened{
    display: block !important;
  }
}