/* Preloader */
.preloader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9000;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include transition(all linear .3s);
  &.loaded{
    opacity: 0;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    &:after{
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid $color-red;
      border-color: $color-red transparent $color-red transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
}