.right-sidebar{
  max-width: 400px;
  .sidebar-header{
    padding: 35px 30px;
    background: $color-red;
    color: #fff;
    .widget-title{
      color: #fff;
    }
  }
  .sidebar-widget{
    margin-top: 15px;
    border: 10px solid #f2f2f2;
    padding: 20px;
    .btn-custom{
      display: block;
      @include border-radius(3px);
    }
  }
  .widget-icon{
    color: $color-red;
    font-size: 37px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .widget-title{
    font-size: 24px;
    font-family: $font-playfair;
    font-weight: bold;
    color: #2d2d2d;
  }
  .widget-list{
    padding-left: 20px;
    margin: 20px 0 0;
    li{
      margin-top: 10px;
      opacity: 0.5;
      &.active{
        opacity: 1;
      }
      a{
        &:hover{
          color: #fff;
        }
      }
    }
  }
  .widget-latest-jobs{
    padding-left: 20px;
    margin: 20px 0 0;
    list-style: none;
    h6{
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37;
      a{
        &:hover{
          color: $color-red;
        }
      }
    }
    small{
      font-size: 13px;
      display: inline-block;
      color: #ababab;
    }
    p{
      margin: 10px 0 0;
      line-height: 1.7;
      @include line-clamp(3);
    }
    li{
      margin-left: -20px;
      padding-left: 20px;
      position: relative;
      &:before{
        content: '●';
        position: absolute;
        color: #ababab;
        left: 0;
        top: 0;
        line-height: 1.2;
        font-size: 12px;
      }
      &:not(:last-child){
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #eaeaea;
      }
    }
  }
  .widget-testimonials{
    padding-left: 0;
    margin: 20px 0 0;
    list-style: none;
    h6{
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37;
      a{
        &:hover{
          color: $color-red;
        }
      }
    }
    small{
      font-size: 13px;
      display: inline-block;
      color: #ababab;
    }
    p{
      margin: 10px 0 15px;
      line-height: 1.7;
      @include line-clamp(4);
    }
    img{
      display: inline-block;
      margin-top: 15px;
    }
  }
  .widget-blog{
    padding-left: 0;
    margin: 20px 0 0;
    list-style: none;
    h6{
      color: #2d2d2d;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      line-height: 1.37;
      a{
        &:hover{
          color: $color-red;
        }
      }
    }
    small{
      font-size: 13px;
      display: inline-block;
      color: #ababab;
    }
    p{
      margin: 10px 0 0;
      line-height: 1.7;
      @include line-clamp(4);
    }
  }
  .widget-viewmore{
    text-align: right;
    border-top: 1px dashed #eaeaea;
    padding-top: 15px;
    margin-top: 20px;
    a{
      font-size: 13px;
      color: $color-red;
      font-style: italic;
      font-weight: 500;
      display: inline-block;
      &:after{
        content: '\f178';
        font-family: $font-awesome;
        display: inline-block;
        margin-left: 5px;
        font-style: normal;
        font-size: 1.1em;
      }
      &:hover{
        @include animation(pulse .5s linear);
        &:after{
          @include animation(lightSpeedOut 1s linear infinite)
        }
      }
    }
  }
  @media (max-width: 991px) {
    margin: 50px auto 0;
    .sidebar-header{
      padding: 15px 30px;
    }
  }
  @media (max-width: 400px) {
    .widget-title{
      font-size: 20px;
    }
  }
}