.section-success{
  padding: 80px 0;
  text-align: center;
  line-height: 1.7;
  i{
    width: 120px;
    height: 120px;
    background: #bc002d;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 120px;
    color: #fff;
    &:before{
      display: inline-block;
      @include animation(bounceIn 1s both);
    }
  }
  h1{
    font-family: $font-playfair;
    color: #2d2d2d;
    font-weight: 900;
    line-height: 1.37;
    margin-bottom: 15px;
  }
  @media (max-width: 767px) {
    padding: 50px 0;
    h1{
      font-size: 28px;
    }
  }
}