.section-blog{
  padding: 80px 0;
  background: #fafafa;
  &_list{
    position: relative;
    @import "../components/button-view-all";
    .row{
      margin: -15px;
      [class*="col-"]{
        padding: 15px;
      }
    }
    @import '../components/blog-item';
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }
}