.section-employers{
  padding: 80px 0;
  position: relative;
  &_list{
    position: relative;
    @import "../components/button-view-all";
    &__logo{
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(center);
      margin: -3px;
      a{
        display: block;
        margin: 3px;
        img{
          width: 162px;
          height: 90px;
          @include object-fit(cover);
          @include filter(contrast(0));
          @include transition(all linear .3s);
          opacity: 0.3;
          @media (max-width: 1199px) {
            width: 144px;
            height: 80px;
          }
          @media (max-width: 991px) {
            width: 108px;
            height: 60px;
          }
        }
        &:hover,
        &:focus{
          img{
            @include filter(contrast(1));
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 50px 0;
  }
}