@import "blog-item";
.blog-item-style-2{
  @include box-shadow(0px 1px 4px 1px rgba(#000, 0.1));
  .blog-item_thumb{
    img{
      @media (min-width: 576px) and (max-width: 767px) {
        height: 150px;
      }
    }
  }
  .blog-item_content{
    position: static;
    color: inherit;
    background: #fff;
    text-align: left;
    padding: 30px 15px;
    .blog-item_title{
      color: #2d2d2d;
      font-size: 20px;
      line-height: 1.3;
      height: 52px;
      a{
        &:hover{
          color: $color-red;
        }
      }
    }
    .blog-item_desc{
      line-height: 1.7;
      @include line-clamp(3);
      margin-top: 15px;
      height: 69px;
    }
    .blog-item_more{
      text-align: right;
      margin-top: 5px;
      a{
        color: #868686;
        font-style: italic;
        &:hover{
          color: $color-red;
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767px){
      padding: 15px;
      .blog-item_title{
        height: 40px;
        font-size: 16px;
      }
      .blog-item_desc{
        font-size: 13px;
        margin-top: 10px;
      }
    }
    @media (max-width: 575px) {
      .blog-item_title,
      .blog-item_desc{
        height: auto;
      }
    }
  }
}