.blog-item{
  position: relative;
  @include transition(all linear .3s);
  @include border-radius(3px);
  overflow: hidden;
  &_thumb{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      display: block;
      @include object-fit(cover);
      @include transition(all ease-out 0.5s);
      height: 246px;
    }
    .blog-item_category{
      position: absolute;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      left: 15px;
      top: 15px;
      background: $color-green;
      color: #fff;
      padding: 5px 15px 4px;
      @include border-radius(0 50px 50px 50px);
      max-width: 80%;
    }
  }
  &_content{
    position: absolute;
    padding: 15px;
    text-align: center;
    background: rgba(#4ea14a, 0.9);
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    .blog-item_title{
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
      @include line-clamp(2);
      @media (min-width: 768px) and (max-width: 991px) {
        font-size: 13px;
        @include line-clamp(3);
      }
    }
  }
  &:hover{
    @include box-shadow(0px 1px 10px 0px rgba(#000, 0.2));
    .blog-item_thumb{
      img{
        @include scale(1.2);
      }
    }
  }
}