.button-view-all{
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: calc(100% + 40px);
  text-align: center;
  @include border-radius(50px);
  &:hover,
  &:focus{
    background: $color-red;
    border-color: $color-red;
    color: #fff;
  }
  @media (max-width: 575px) {
    position: static;
    display: block;
    width: 150px;
    margin: 30px auto 0;
  }
}