.btn-custom{
  background: $color-red;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 13px 20px;
  text-align: center;
  border: none;
  @include border-radius(50px);
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:after{
    content: '';
    background: #4ea14a;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
    @include transition(all ease-in-out 0.3s);
  }
  &:hover{
    color: #fff;
    &:after{
      height: 100%;
    }
  }
  &-light{
    background: #fff;
    border: 2px solid $color-red;
    color: $color-red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding: 11px 20px;
    text-align: center;
    overflow: hidden;
    @include border-radius(50px);
    &:hover{
      border-color: $color-green;
      color: $color-green;
    }
  }
}