.header-nav-desktop{
  ul{
    @include flexbox();
    padding: 0;
    margin: 0;
    list-style: none;
    color: #2d2d2d;
    font-weight: bold;
    font-size: 15px;
    li{
      padding: 15px;
      position: relative;
      a{
        display: block;
        position: relative;
        &:before,
        &:after{
          content: '';
          position: absolute;
          width: 0;
          height: 1px;
          background: $color-red;
          @include transition(all linear .3s);
        }
        &:before{
          left: 0;
          bottom: -12px;
        }
        &:after{
          right: 0;
          bottom: -13px;
        }
        &:hover,
        &:focus,
        &.active{
          color: $color-red;
          &:before,
          &:after{
            width: 100%;
          }
        }
      }
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
}