.job-item{
  @include box-shadow(0px 1px 4px 0 rgba(0, 0, 0, 0.2));
  @include transition(all linear .2s);
  background: #fff;
  padding: 25px 30px;
  &:nth-child(2n){
    background: #fafafa;
  }
  &:first-child{
    @include border-radius(20px 20px 0 0);
  }
  &:last-child{
    @include border-radius(0 0 20px 20px);
  }
  &:hover{
    @include box-shadow(0px 1px 10px 0px rgba(0, 0, 0, 0.2));
    position: relative;
  }
  &_title{
    font-size: 16px;
    font-weight: bold;
    color: #2d2d2d;
    a:hover,
    a:focus{
      color: $color-red;
    }
  }
  &_wage-offer{
    font-weight: 500;
    color: $color-red;
    &:before{
      content: '\f2e8';
      color: #a1a1a1;
      font-weight: 100;
      display: inline-block;
      margin-right: 5px;
      font-family: $font-awesome;
    }
  }
  &_location{
    &:before{
      content: '\f3c5';
      color: #a1a1a1;
      font-weight: 100;
      display: inline-block;
      margin-right: 5px;
      font-family: $font-awesome;
    }
  }
  &_field{
    display: inline-block;
    background: $color-green;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 4px;
  }
  &_date{
    &:before{
      content: '\f073';
      color: #a1a1a1;
      font-weight: 100;
      display: inline-block;
      margin-right: 5px;
      font-family: $font-awesome;
    }
  }
}