.pagination{
  margin: 60px 0 0;
  @include justify-content(center);
  @media (max-width: 991px) {
    margin: 50px 0 0;
  }
  @media (max-width: 767px) {
    margin: 30px 0 0;
  }
  .page-item{
    padding: 0 3px;
    &>span{
      display: block;
      line-height: 40px;
    }
    &.active{
      .page-link{
        background-color: $color-red;
        border-color: $color-red;
        color: #fff;
        cursor: auto;
      }
    }
  }
  .page-link{
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color: #2d2d2d;
    font-size: 14px;
    &:hover,
    &focus{
      outline: none;
      @include box-shadow(none);
      color: $color-red;
    }
  }
  @media (max-width: 767px) {
    .page-item {
      & > span {
        line-height: 30px;
      }
    }
    .page-link{
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
    }
  }
}