.service-item{
  background: #fff;
  text-align: center;
  padding: 40px 15px;
  @include box-shadow(0px 2px 8px 1px rgba(0, 0, 0, 0.1));
  position: relative;
  z-index: 2;
  overflow: hidden;
  a:focus{
    outline: none;
  }
  img{
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px dashed #eaeaea;
    background: #fff;
    @include object-fit(cover);
    @include border-radius(50%);
  }
  h4{
    font-size: 16px;
    color: #2d2d2d;
    font-weight: bold;
    line-height: 1.5;
    margin: 25px 0 0;
    min-height: 48px;
    @include line-clamp(2);
    @include transition(all linear .3s)
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    @include transition(all ease-out 0.3s);
    background: $color-red;
    z-index: -1;
  }
  &:hover, &:focus{
    &:before{
      height: 100%;
    }
    img{
      border: 1px solid #fff;
    }
    h4{
      color: #fff;
    }
  }
}