@include keyframes(pulsate) {
  0% {
    opacity: 1;
    @include transform(translate(-50%,-50%) scale(1));
  }
  100% {
    opacity: 0;
    @include transform(translate(-50%,-50%) scale(1.5));
  }
}
@include keyframes(lds-dual-ring) {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include keyframes(heartBeat){
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}