:root{
  --mm-color-background: rgba(78, 161, 74, 0.05);
}

.main{
  padding-top: 91px;
  @media (max-width: 991px){
    padding-top: 69px;
  }
}
.section-title{
  &_sub{
    color: $color-red;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    &:before{
      content: '';
      background: $color-red;
      display: inline-block;
      margin-right: 10px;
      width: 30px;
      height: 1px;
    }
  }
  &_title{
    font-family: $font-playfair;
    color: #2d2d2d;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    &_sub{
      font-size: 12px;
    }
    &_title{
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}
.text-format{
  line-height: 1.5;
  h1,h2,h3,h4,h5,h6{
    color: #2d2d2d;
    font-weight: bold;
    margin-bottom: 10px;
    &:not(:first-child){
      padding-top: 10px;
    }
  }
  blockquote{
    color: #868686;
    font-style: italic;
    padding-left: 15px;
    margin-left: 40px;
    border-left: 2px solid #eaeaea;
  }
  ul,ol{
    padding-left: 20px;
    text-align: left;
    li{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  table{
    width: 100%;
    margin-bottom: 10px;
    td{
      padding: 5px 0;
      vertical-align: top;
    }
  }
  p,ul,ol,table{
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.alert-error{
  color: $color-red;
  font-size: 13px;
  display: none;
  margin-top: 5px;
  text-align: right;
  font-style: italic;
}

//bootstrap customise
.form-control{
  height: 40px;
  background: #fbfbfb;
  @include transition(all linear .2s);
  @include border-radius(3px);
  &:focus{
    border-color: $color-green;
    background: #fff;
    @include box-shadow(0px 2px 8px 1px rgba($color-green, 0.2));
  }
  &.error{
    border-color: $color-red;
    &:focus{
      border-color: $color-red;
      @include box-shadow(0px 2px 8px 1px rgba($color-red, 0.2));
    }
  }
}
.form-group{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
  label{
    font-weight: 500;
    color: #2d2d2d;
    &.obligate{
      &:after{
        content: '*';
        color: $color-red;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

//select2 customise
.select2-container--default{
  width: 100% !important;
  .select2-selection--single{
    height: 40px;
    .select2-selection__rendered{
      line-height: 40px;
    }
    .select2-selection__arrow{
      top: 7px
    }
  }
  .select2-results__option--highlighted[aria-selected]{
    background: $color-green;
  }
  .select2-search--dropdown{
    .select2-search__field{
      border-color: #eaeaea;
      @include border-radius(3px);
      &:focus{
        outline-color: $color-green;
      }
    }
  }
  &.select2-container--focus{
    .select2-selection--single{
      outline-color: $color-green;
      @include box-shadow(0px 2px 8px 1px rgba($color-green, 0.2));
    }
  }
  .select2-dropdown{
    border-color: #eaeaea;
  }
}