/*fonts*/
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-awesome: "Font Awesome 5 Pro";

/*colors*/
$color-red: #bc002d;
$color-green: #67a933;

/*color mmenu*/



